.planet__info{
  display: flex;
  gap: 13px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.planet__description{
  font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}


.planet__title{
  font-size: 27px;
  margin-top: 8px;
}